@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{margin:0px;padding:0px;}


.comc{
  word-break: break-all;
}

.texta{
  margin-top: 0.5rem;
}

pre,.texta,.comentarios{
  width: 100%;
}
.logoComentar{
  width: 2rem;

}
.comentarLogo{
  width: 100%;
  display:flex;
justify-content: end;
  
}

.menu{
  margin-top: 1em;
}

.texto-ul{
  width: fit-content;
  background-color:azure;
  height: 2.46rem; 
  overflow: hidden;
}
.texto-ul:hover{
 height: auto;
}
.subDivsMenu{
 height: 1.7rem;
 width: 12rem; 
}
.menuTexto{
  border: 0.38rem ridge rgb(117, 196, 184);
  background-color:azure;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  vertical-align: top;
  top:0px;
  height: 1.7rem; 
  width: 11rem;
  
}
.menuTexto:hover{

    box-shadow:#5D2F1F -5px 7px 10px 2px; 
    animation: mianimacion 1s ease-in-out 0s infinite normal none; 
}
.carrito{
  position:absolute;
  right: 3.2rem;
  bottom: 0px;
  box-shadow:#5D2F1F 5px -7px 10px 2px; 
  height: 2.9rem;
  width: 3rem;
  z-index: 1;

}
.iconocarrito{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
 
}

.menuIcon{
  height: 2rem;
  width:2rem;
  margin:0.1rem;

}
.iconomenu{
  display:flex;
  justify-content:end;
  width: 100%;
 
}


header{
  width: 98vw;
   display: flex;
  background-image: url("../imgs/cocina1.png");
    background-size:cover;
    background-position: bottom right; 
    background-repeat: no-repeat;
    height: 7rem;
    position: relative;
    
}

.subnav{
  z-index: 0;
  box-shadow:#5D2F1F 5px -7px 10px 2px; 
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
nav{
  display:flex;
  justify-content: end;
  width:100%;
 
  
}
.subnav:hover{
  box-shadow:none; 
  overflow: visible;
height:fit-content;
width: 12rem;
top:4rem;
}

.titulo{
 width: 100%;
  text-align: center;
  height: 7rem;
  
}

a{  text-decoration: none;height: fit-content;}
a:hover{
  background-color: grey;
}





@keyframes mianimacion { 
  20% { 
  background: #11ccec; 
  } 
  35% { 
  transform: scale(0.9); 
  background: #89CCC1; 
  } 
  50% { 
  transform: scale(1);background: #00ffd5; 
} 
65% { 
transform: scale(0.9); 
background: #04a0fa; 
} 
80% { 
background: #0bf0ab; 
} 
}



.tituloNav{
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
justify-content: space-between;
width: 100%;
box-shadow:#5D2F1F -5px 7px 10px 2px; 
background: -webkit-linear-gradient(top, #75C4B8,transparent);

}



.tituloReceta {
    margin: 0.5rem 0px 1rem 0px;
   font-family: 'Sedgwick Ave Display', cursive;
   font-size: 1.2rem;
   
}

/* ---------------------estilos del main */
main{
   display: flex;
   padding: 0.5rem;
   width:97vw;
   background-image: url("../imgs/cocina1.png");
   background-repeat: repeat;

}

aside{
  display: flex;
  flex-direction: column; 
  background-color: #9DD4CB;
  height:500vh;
  margin: 10px;
  box-shadow:#5D2F1F -5px 7px 30px inset; 
  padding: 1rem;
 
 
}
aside a{
  width:max-content;
  font-size: 1.07rem;
  padding: 0.2rem;

}
section{
  background-color: cornsilk;
  margin-top: 2rem;
  padding: 2rem;

}
/*-------------------------------------------fin main*/
/*---------------------------------------------contenido del section*/
.introduccion{
  box-shadow:#5D2F1F -5px 7px 10px 2px; 
}
.introduccion h1{
  text-align: center;
  margin-bottom: 1rem;
  
}

.contenedorReceta{
  position:relative;
  display:flex;
  flex-direction: column;
  margin-top:4rem;
  align-items: center;
  box-shadow:#5D2F1F 5px -7px 10px 2px ; 
  padding: 1rem;
 
}


/*---------------------------------- Receta*/
.recetas{
  display: flex;
  flex-wrap: wrap;
}
.imgRecetas{   
   width:40%;   
}

.ingredientes{
  margin-bottom: 1rem;
  font-family: monospace;
  width: 57%;
}
.pasos{
  flex:1 1 57%;
}
.imgRecetasSub{
  width: 100%;
}
 /*----------------------------------fin receta*/


.divsHome{
  border: 2px solid black;
  width: 40%;
}

ul{
  list-style-type:  none;
}
li{margin: 4px;font-family: 'Roboto', sans-serif;}


li a:hover{
  background-color:darkgray;
  animation: mianimacion 1s ease-in-out 0s infinite normal none; 
}






em{
  font-weight: bold;
}
p{text-indent: 1rem;margin: auto;
margin-left: 1rem;}



.ingredientes{
  margin-bottom: 1rem;
  font-family: monospace;
}




html{
  width: 95vw;
  font-size: 100%;
}

.subir{
  position:fixed;
  right: 1rem;
 bottom: 0px;
 border-radius: 100%;
 padding: 10px;
 text-align: center;
 border: 5px ridge rgb(117, 196, 184);
 background-color:azure;
 box-shadow:#5D2F1F -5px 7px 10px 2px ; 
}









/*---------------------------------------------inicio media*/
@media (max-width:800px) {


.titulo{
  font-size: 0.5rem;
}



   html,body{
    width: 90%;
   }
   header{
    height: auto;
    flex-direction: column;
    width: 97vw;
  } 
  .tituloNav{
    flex-direction: row-reverse;
    text-align: start;
    width: 100%;
  }
  #mango,#cuchara{    
    animation:a8 1s ease-in-out 0s infinite normal  forwards; 
    transform: translate(0px, 0px);
    }
    @keyframes a8 { 
   
      100% {   
       
        transform: rotate(1deg); 
        
      } 
   
     } 

  .titulo{
    position:absolute;
    top:0px;
    right:0px;
    width:60vw;
    box-shadow:#5D2F1F -5px 7px 10px 2px;
  }
  nav{display:flex;
    align-items: flex-start;
    flex-direction: column;
  }
main{
  flex-direction: column;
    width:97vw;
    padding:0;
  
  

}
aside {
  display:block;
  width: 80vw;
  margin:auto;
  height: auto;
}
aside a{
  width: auto;
  padding: 2px;
  display:inline;
}
 .recetas{
  flex-direction: column;
  align-items: center;
 }
 .imgRecetas{
  width: 90%;
 }
  .introduccion{   
    box-shadow:#5D2F1F 5px -7px 10px 2px ; 
  }


} 



/*fin media-------------------------------- fin media */
