#imgsMini{
   display:flex;
   flex-direction: column;
   height: 10rem;
}

#libroMuestra{
    display:flex;
    height:550px;
margin-bottom: 1rem;
}



.imgsMini{
    height: 100px;
}

img{
    height: 100%;
}

.error{
    line-height:0px;
    margin:7px;
    color:red;
}
input:focus{
     box-shadow: -2px -2px 2px 2px;
}

label,input{
    display:block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;  
    
}

label{
    margin: 0.7rem;
}
input{margin:2px;}
.siguiente{
    color:red;
    background-color: #fa8264;
    border-style:outset;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin:1rem;
    align-self: flex-end;
}
.siguienteHabilitado{
    color:green;
}

.siguiente p{margin:0px;}

#identificacion{
display: flex;
flex-direction: column;
}

#telefono{
    display: flex;
    flex-direction: row;
    vertical-align:text-bottom;
   
   justify-content: start;
}

.telefono{
    margin:2px;
    padding: 0px;
}

.error{
    visibility:hidden;
    
}

#h0{
    flex:1;
}
#h1{
    flex:1;
}

#h2{
    flex:5;
}
.tel{
    position:relative;
}

body{
    display:flex;
}

.imgsMini{
    margin:5px;
}

.imgsMini:hover{
    border-style: ridge;
    border-color: #a02000;
}


@media (max-width:800px) {


    body{
        flex-direction: column;
        width:75vh;
       
    }
   #libromuestra{
    width: 100vw;
   }
.div2{
    width:80%;
}
.contenedor2{
    width: 90%;
}
.carrusel{
    width: 100%;
}

#imgmini{
    width: 20%;
}
}