
#btn1,#btn2{
    width: min-content;
}
#envio{
    display: none;
}

#imgsMini{
   display:flex;
   flex-direction: column;
   height: 10rem;
}

#libroMuestra{
    display:flex;
    height:550px;
margin-bottom: 1rem;
}



.imgsMini{
    height: 100px;
}

img{
    height: 100%;
}

.error{
    margin:7px;
    color:red;
}
input:focus{
     box-shadow: -2px -2px 2px 2px;
}

label,input{
    display:block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;  
    
}

label{
    margin: 0.7rem;
    height: min-content;
}
input{margin:2px;}
.siguiente{
    color:red;
    background-color: #fa8264;
    border-style:outset;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin:1rem;
    align-self: flex-end;
}
.siguienteHabilitado{
    color:green;
}

.siguiente p{margin:0px;}

#identificacion{
display: flex;
flex-direction: column;
}

#telefono{
    display: flex;
    flex-direction: row;
   align-items:flex-end;
   justify-content: start;
}

.telefono{
    margin:2px;
    padding: 0px;
}

.error{
    visibility:hidden;
    
}

#h0{
    flex:1;
}
#h1{
    flex:1;
}

#h2{
    flex:5;
}
.tel{
    position:relative;
}

#c1{
    display:flex;
    justify-content: space-evenly;
}

.imgsMini{
    margin:5px;
    border-style: ridge;
    border-color: rgba(red, green, blue, 0);
}

.imgsMini:hover{
    border-style: ridge;
    border-color: #a02000;
}

#boton:disabled{
    color:"red";
}
#boton:enabled{
    color:"green";
}
.titulosForm{
    text-align: center;
}


form{
    width:100%;
}


#form{
    width: 30%;
}

label{display:flex; flex-direction: column;justify-content: end;}

#telefono2{
    align-self: last baseline;
}

@media (max-width:800px) {


    #c1{
        flex-direction: column;
        width:100vw;
       
    }
   #libromuestra{
    width: 100vw;
   }
.div2{
    width:80%;
}
.contenedor2{
    width: 90%;
}
.carrusel{
    width: 100%;
}

#imgmini{
    width: 20%;
}
#form{
    width: 100%;
}

}


#mensaje{
    height: 500px;
    margin-top: 2rem;
}